body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container {
    display: flex;
    width: 90%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px black;
    border-radius: 8px;
    overflow: hidden;
}

.button-panel {
    border: 2px solid black;
    width: 11%;
    display: flex;
    flex-direction: column;
    background-color: #a4a0a0;
    padding: 20px;
}
.button-panel:hover{
    background-color: #c8c4c4;
    transition: all 1s;
}

.button-panel button {
    background-color: #555;
    color: rgb(6, 6, 6);
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.5s;
    outline: none;
    border-radius: 10px;
}

.button-panel button:hover {
    background-color: #777;
    transform: rotate(360deg);
    transition: all 1s;
    background-color: #000;
    color: white;
}

.button-panel button:focus {
    background-color: #999;
    /* Optional focus styling */
}

.video-display {
    width: 85%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

video {
    padding: 10px;
    max-width: 100%;
    border-radius: 8px;
    border: 2px solid white;
}