body, .header, .body1 , .body2{
    background-color: #ffbdad;
}
.container {
    background-color: white;
    border: 10px groove black;
    margin: 10px auto;
    width: 1250px;
}

.header {
    margin: 50px;
    border: 3px solid black;
    display: flex;
}
.header img , h1 {
    margin: 30px auto;
    padding: 30px;
}
.header img{
    width: 100px;
}

.title ,.pero {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
}
.body1{
    text-align: center;
    border: 3px solid black;
    margin: 50px;

}
.body1 ul li{
    display: inline-block;
    list-style-type:none;
    margin: 0 10px;
    text-decoration: underline;
    font-size: 25px;
    color: red;
}
.body2{
    margin: 50px;
    border: 3px solid black;
}

.body2 h1 , .first ,.calculate,.interest{
    margin-left: 100px;
}
.body2 h1{
    font-size: 45px;
    text-decoration: underline;
}
.body2 .first{
    width: 630px;
    font-size:27px;
    padding-left: 30px;
}
.body2 img{
    width: 80px;
    height: 80px;
}
.body2 div {
    padding-left: 30px;
    display: flex;
}
.body2 div p {
    font-size: 40px;
    margin-left: 20px;
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
