body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
}
.link{
    background-color: #d2cece;
    height: 50px;
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 100px;
    border-radius: 20px;
    margin-top: 0;
    top: -50%;
}
a{
    text-decoration: none;
    font-size: 20px;
}
